* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

div.info {
    height: 40px;
    background-color: rgb(239, 230, 230);
}

div.info p {
    font-size: 13px;
    padding: 10px;
    padding-left: 70px;
}

div.info button {
    float: right;
    margin: 5px;
    background-color: rgb(239, 230, 230);
    border: none;
    font-size: 15px;
}

button.log {
    position: absolute;
    top: 6px;
    right: 196px;
}

button.sign {
    position: absolute;
    top: 6px;
    right: 110px;
}

.sti {
    position: sticky;
    top: 0;
    box-shadow: 2px 2px 2px rgb(203, 199, 199);
}

div.nav {
    /* height: 100px; */
    /* border: 2px solid black; */
    display: flex;
    background-color: white;
}

.nav img {
    height: 40px;
    margin: 20px;
    padding-left: 50px;
}

.nav ul {
    list-style-type: none;
    margin-left: 300px;
}

.nav li {
    display: inline-block;
    margin-top: 30px;
    padding: 0px 12px;
}

.nav a {
    text-decoration: none;
    color: rgb(94, 90, 90);
    font-size: 16px;
}

.nav a:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

.nav button {
    background-color: rgb(23, 88, 230);
    color: aliceblue;
    font-size: 10px;
    padding: 5px 10px;
    border: 0px;
    border-radius: 20px;
}

.nav button:hover {
    cursor: pointer;
}

.Homebanner {
    width: auto;
    height: 600px;
    /* border: 2px solid black; */
}

.Homebanner img {
    float: right;
    padding-right: 90px;
    padding-top: 50px;
    width: auto;
    height: 510px;
}

h1.bannerheading {
    padding: 45px 80px;
    font-size: 50px;
    width: 690px;
}

p.sometext {
    padding: 10px 80px;
    width: 800px;
    font-size: 19px;
    color: rgb(93, 97, 97);
    font-family: "Source Sans Pro";
    line-height: 1.5;
    letter-spacing: 0.03cm;
}

button.home {
    background-color: orangered;
    font-size: 16px;
    font-family: "Source Sans Pro";
    border: none;
    border-radius: 5px;
    color: aliceblue;
    margin: 45px 80px;
    width: 230px;
    height: 50px;
}

.youtube {
    width: auto;
    height: 300px;
    background-color: black;
    color: aliceblue;
}

.youtube img {
    float: right;
    width: 300px;
    height: 200px;
    margin-right: 90px;
}

.youtu {
    padding-top: 55px;
    padding-left: 90px;
    font-family: "Source Sans Pro";
}

.youtu p {
    font-size: 17px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.youtu h4 {
    font-size: 30px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 600px;
    line-height: 1.5;
}

button.yout {
    padding: 10px;
    background-color: orangered;
    border: 0;
    border-radius: 5px;
}

.secpage {
    width: auto;
    height: 830px;
}

div.top {
    text-align: center;
    margin-top: 60px;
}

.top h1 {
    font-size: 42px;
}

.top p {
    margin: 10px;
    color: rgb(125, 122, 122);
}

.flex {
    display: flex;
}

.flex1 ul {
    margin: 30px;
    list-style-type: none;
}

.flex1 li {
    margin-bottom: 15px;
    margin-left: 40px;
    padding: 19px 16px;
    font-size: 20px;
}

.flex1 li:hover {
    background-color: rgb(244, 238, 238);
    border-radius: 10px;
}

li.active {
    background-color: rgb(244, 238, 238);
    border-radius: 10px;
}

.flex2 {
    text-align: center;
    margin-top: 60px;
}

.flex2 h1 {
    font-size: 30px;
    margin-bottom: 17px;
    color: #52565a;
    height: 20px;
}

.flex2 h1 span {
    color: rgb(245, 86, 86);
}

.flex2 p {
    margin-top: 30px;
    font-size: 1.15rem;
    color: #6c757d;
}

.flex2 p span {
    color: rgb(245, 86, 86);
}

.javascriptuse {
    width: auto;
    height: 650px;
    background-color: #f8fcfc;
}

.javahead {
    width: auto;
    height: 200px;
    text-align: center;
    padding-top: 65px;
}

.javah1 span {
    color: rgb(13, 105, 142);
}

.javah1 {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 42px;
    color: #1c1c1c;
}

.javahead p {
    margin: 12px;
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
    color: #6c757d;
}

.slide img{
    width: 60%;
    height: 50%;
    margin-top: 50px;
    position: absolute;
    left: 22%;
}